.popup__container {
  min-width: 282px;
  max-width: 430px;
  width: 88%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 25px 22px;

  position: relative;
  background-color: #fff;
  border-radius: 10px;
  color: #000000;
}

@media screen and (min-width: 576px) {
  .popup__container {
    padding: 34px 36px 37px;
  }
}
