.content {
  max-width: 880px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
