.form__input {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);

  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
